<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.StavropolPlacesApp"
        tools:targetApi="tiramisu">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".places.PlaceDetailActivity"
            android:exported="true"
            />

        <activity android:name=".places.PlacesActivity" />
        <activity android:name=".about.AboutScreen" />
        <activity android:name=".famous_people.ZemlyakiActivity" />
        <activity
            android:name=".famous_people.PersonDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            /> <!-- Добавляем PersonDetailActivity -->
        <activity android:name=".region.RegionDetailActivity" />
        <activity android:name=".afisha.AfishaActivity" />

        <activity android:name=".eat.PlacesToEatActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".places.PlacesListActivity"
            android:exported="true"
            android:label="Places" />
    </application>

</manifest>
